@model Proiect_DAW.Models.ProfileModels.AlbumViewerModel
@{
    Services.CurrentUser currentUser = ViewBag.CurrentUser;
}
@{
    Layout = "~/Views/GeneralLayout.cshtml";
    ViewData["Title"] = Model.Name + "Album";

}

@if (Model.HasThisAlbum)
{
    using (Html.BeginForm("AlbumChangeName", "Profile", FormMethod.Post, new { onsubmit = "return checkForm(this);" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);

        <div class="container">

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>



                <div class="form-group col-md-2">
                    <input name="submit" type="submit" value="Create" class="btn btn-primary" />
                </div>




            </div>
        </div>
    }
}
else
{
    <h1>@Model.Name</h1>
}
<div id="imageBody">

</div>
@if (Model.HasThisAlbum)
{
    @Html.Partial("PartialAddPhoto", Model.PhotoModel)
}

@if (Model.HasThisAlbum)
{
    <script id="image-template" type="text/x-handlebars-template">

        <div class="imagine">

            <div class="bodyImagine">
                <img src="/Photos/Download/{{Id}}" />
                <p>{{Description}}</p>
            </div>
            <div class="photoActions">
                <a id="makeProfile{{Id}}" class="needConfirmation btn btn-primary btn-sm" href="/Profile/MakeProfilePhoto?photoId={{Id}}">Make this your profile picture</a>
                <a id="removePhoto{{Id}}" class="needConfirmation btn btn-danger btn-sm" href="/Profile/RemovePhoto?photoId={{Id}}&albumId={{AlbumId}}">Delete this photo</a>
                <input type="text" class="description" />
                <button class="btn btn-primary btn-sm" id="changeDescription{{Id}}" data-photoid="{{Id}}">Save</button>
            </div>

        </div>

    </script>
}
else
{
    <script id="image-template" type="text/x-handlebars-template">

        <div class="imagine">
            <div class="bodyImagine">
                <img src="/Photos/Download/{{Id}}" height="40" />
                <p>{{Description}}</p>
            </div>
            @if (currentUser.IsAdmin)
            {
                <div class="photoActions">
                    <a id="removePhoto{{Id}}" class="needConfirmation btn btn-danger btn-sm" href="/Profile/RemovePhoto?photoId={{Id}}&albumId={{AlbumId}}">Delete this photo</a>
                    <input type="text" class="description" />
                    <button class="btn btn-primary btn-sm" id="changeDescription{{Id}}" data-photoid="{{Id}}">Save</button>
                </div>
            }

        </div>

    </script>
}
<button id="imageGetter" data-album="@Model.Id" hidden="hidden">Load more images</button>
<script src="~/js/Image.js"></script>