@model Proiect_DAW.Models.ProfileModels.EditUserModel

@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<h1>Edit</h1>

<h4>@Model.Name  @Model.Surname</h4>
<hr />
<div class="container">

    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post))
    {
        <input name="Id" id="Id" value="@Model.Id" hidden />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.BirthDay, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.BirthDay, "{0:dd-MM-yyyy}", new { @class = "form-control", placeholder = "dd-MM-yyyy" })
                @Html.ValidationMessageFor(m => m.BirthDay, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Visibility, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Visibility, new List<SelectListItem>() {
           new SelectListItem()
           {
               Text="Public",
               Selected=true,
               Value="public"
           },new SelectListItem()
           {
               Text="Friends Only",
               Value="friends"
           },
           new SelectListItem()
           {
               Text="Private",
               Value="private"
           }
           }, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Visibility, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">County</label>
                <select id="CountyId" class="form-control">
                    @foreach (var item in Model.Counties)
                    {
                        <option value="@item.Value" selected=@item.Selected>@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LocalityId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.LocalityId, new List<SelectListItem>(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LocalityId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SexualIdentity, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.SexualIdentity, new List<SelectListItem>() {
            new SelectListItem()
            {
                Selected = true,
                Value = "feminin",
                Text = "Feminin"
            },new SelectListItem()
            {
                Selected = false,
                Value = "masculin",
                Text = "masculin"
            },
            new SelectListItem()
            {
                Selected = false,
                Value = "nespecificat",
                Text = "Nespecificat"
            }
            }, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SexualIdentity, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Interests, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Interests, new List<SelectListItem>(), new { @class = "form-control", id = "interestSelect", multiple = "multiple" })
                @Html.ValidationMessageFor(m => m.Interests, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <input name="submit" type="submit" value="Save" class="btn btn-default needConfirmation" />
            </div>
        </div>

    }


</div>



<div>
    <a asp-action="Index" class="btn btn-primary btn-sm">Back to Profile</a>
</div>

<script src="~/js/Localities.js"></script>
<script src="~/js/InterestSelect.js"></script>
