@model Proiect_DAW.Models.AdminModels.EditLocalityModel

@{
    Layout = "~/Views/GeneralLayout.cshtml";
    ViewData["Title"] = "Locality Edit";
}

<h1>Edit</h1>

<h4>Locality</h4>
<hr />
@using (Html.BeginForm("Edit", "Localities", FormMethod.Post, new { onsubmit = "return checkForm(this);" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);


    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CountyId, new { @class = "col-md-2 control-label" })
            @Html.DropDownListFor(m => m.CountyId, Model.CountyIds, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CountyId, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-2">
            <input name="submit" type="submit" value="Create" class="btn btn-primary needConfirmation" />
        </div>




    </div>
}

<div>
    <a href="/Localities/Index" class="btn btn-primary btn-sm">Back to List</a>
</div>


