@model Proiect_DAW.Models.DomainModels.InterestDomainModel

@{
    Layout = "~/Views/GeneralLayout.cshtml";
    ViewData["Title"] = "Interest Create";
}

<h1>Create</h1>

<h4>Interest</h4>
<hr />
@using (Html.BeginForm("Create", "Interests", FormMethod.Post, new {  onsubmit = "return checkForm(this);" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);


        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>



            <div class="form-group col-md-2">
                <input name="submit" type="submit" value="Create" class="btn btn-primary needConfirmation" />
            </div>




        </div>
}

<div>
    <a href="/Interests/Index" class="btn btn-primary btn-sm">Back to List</a>
</div>


