@model Proiect_DAW.Models.GeneralModels.RegisterModel

@{
    ViewData["Title"] = "Register";
}


<div class="container-fluid text-center">
    <h2>Register</h2>
    <div class="row">
        @Html.Partial("shared")
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-left">
            <div>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.BirthDay, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.BirthDay, "{0:dd-MM-yyyy}", new { @class = "form-control", placeholder = "dd-MM-yyyy" })
                        @Html.ValidationMessageFor(m => m.BirthDay, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CountyId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.CountyId, ViewBag.Counties as List<SelectListItem>, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CountyId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LocalityId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.LocalityId, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocalityId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SexualIdentity, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.SexualIdentity, new List<SelectListItem>() {
                    new SelectListItem()
                    {
                        Selected=true,
                        Value="feminin",
                        Text="Feminin"
                    },new SelectListItem()
                    {
                        Selected=false,
                        Value="masculin",
                        Text="masculin"
                    },
                    new SelectListItem()
                    {
                        Selected=false,
                        Value="nespecificat",
                        Text="Nespecificat"
                    }
                   }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SexualIdentity, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="form-group">
                        <input name="submit" type="submit" value="Save" class="btn btn-default needConfirmation" />
                    </div>

                }
            </div>
        </div>

    </div>
</div>
<script src="~/js/Localities.js"></script>