@model Proiect_DAW.Models.ProfileModels.AddAlbumModel
@{
    Services.CurrentUser currentUser = ViewBag.CurrentUser;
}

@if (currentUser.IsAuthenticated)
{

    @using (Html.BeginForm("AddPost", "Feed", FormMethod.Post, new {  onsubmit = "return checkForm(this);" }))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);

        <div class="container">

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>



                <div class="form-group col-md-2">
                    <input name="submit" type="submit" value="Create" class="btn btn-primary" />
                </div>




            </div>
        </div>
    }
}