@model Proiect_DAW.Models.ProfileModels.MessageListModel

@{
    ViewBag.Title = "MessageUser";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<h2>MessageUser</h2>

<div id="sentUserId" data-userId="@Model.Id" hidden></div>

<input type="text" id="sendMessageToUser" placeholder="Send a message" />
<button class="btn btn-lg" id="sendMessageToUserButton">Send the message</button>
<div id="allMessages">
    @foreach (var message in Model.Messages)
    {
    <div class="message">
        @{
            var className = message.IsMine ? "profile-right" : "profile-left";
            var messageClassName = message.IsMine ? "speech-bubble-right" : "speech-bubble-left";
        }
        @if (message.IsMine)
        {
            <div class="@messageClassName">
                @message.Content
            </div>
            <div class="@className">

                @if (message.ProfilePhoto.HasValue)
                {
                    <img src="/Photos/Download/@message.ProfilePhoto" />
                }
                else
                {
                    <img src="~/images/DefaultProfile.png" />
                }
                <p>
                    @message.Name
                </p>
            </div>

        }
        else
        {
            <div class="@className">

                @if (message.ProfilePhoto.HasValue)
                {
                    <img src="/Photos/Download/@message.ProfilePhoto" />
                }
                else
                {
                    <img src="~/images/DefaultProfile.png" />
                }
                <p>
                    @message.Name
                </p>
            </div>
            <div class="@messageClassName">
                @message.Content
            </div>
        }


    </div>

    }

</div>
<script src="~/js/sendMessage.js"></script>


