@model Proiect_DAW.Models.ProfileModels.MessageListModel

@{
    ViewBag.Title = "MessageUser";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<h2>MessageUser</h2>

<div id="sentGroupId" data-userId="@Model.Id" hidden></div>

<input type="text" id="sendMessageToGroup" placeholder="Send a message" />
<button class="btn btn-lg" id="sendMessageToGroupButton">Send the message</button>
<div id="allMessages">
    @foreach (var message in Model.Messages)
    {
        <div class="clearfix">
            @{
                var className = message.IsMine ? "float-right" : "float-left";
                var messageClassName = message.IsMine ? "speech-bubble-right" : "speech-bubble-left";
            }
            <div class="@className">
                <p>
                    @message.Name
                </p>
                @if (message.ProfilePhoto.HasValue)
                {
                    <img src="/Photos/Download/@message.ProfilePhoto" />
                }
                else
                {
                    <img src="~/images/DefaultProfile.png" />
                }
            </div>
            <div class="@messageClassName">
                @message.Content
            </div>
        </div>

    }

</div>
<script src="~/js/sendMessage.js"></script>


